@charset "UTF-8";

#options {
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 5px 30px 20px 30px;
    background: #eee3bdff;
    width: 60%;
}

#options p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
}

#options input[type="submit"] {
    margin-left: 45px;
}

.no-task {
    margin-top: 5px;
    margin-bottom: 15px;
}

.yes-no-btn {
    margin-right: 5px;
}



